
 .first{
    background-color: black;
    border: none;
    color: white;
    height: 40px;
    width: 120px;
    margin-right: 10px;
    cursor: pointer;
    transition: opacity 0.15s;
 }
 .first:hover{
    opacity: 0.85;
 }
 .sec{
    background-color: rgb(255, 216, 20);
    height: 38px;
    width: 200px;
    border: none;
    border-radius: 20px;
    font-size: medium;
    margin-right: 10px;
    padding: top 14px;
    cursor: pointer;

 }
 .sec:hover{
    background-color: rgb(216, 180, 20);
 }
 .th{
    background-color: rgb(46, 164, 79);
    color: white;
    border: none;
    border-radius: 8px;
    height: 40px;
    width: 100px;
    margin-right: 10px ;

    border: none;
    font-size: medium;
    cursor: pointer;
    /* transition: box-shadow .2s; */
     box-shadow: 5px 5px 10px grey;

 }

 .th:active{
    margin-top: 5px;
    margin-left: 15px;
    box-shadow: 5px 5px 10px white;

 }
 .fo{
    background-color: rgb(121, 82, 179);
    color: white;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 13px;
    padding-bottom: 13px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 13.5px;
    margin-right: 10px;
    cursor: pointer;
    transition: padding-left 0.5s, padding-right 0.5s;

 }
 .fo:hover{
    margin-left: -5px;
    margin-right: 5px;
    padding-left: 25px;
    padding-right: 25px;
 }
 .fi{
    background-color: white;
    color: rgb(108,117,125);
    border: solid;
    border-color: rgb(108,117,125);
    margin-right: 10px;
    border-width: 2px;
    font-weight: bold;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 9px;
    padding-bottom: 9px;
    transition: padding-top 1s, padding-bottom 1s, 
    padding-left 1s, padding-right 1s;
 }
 .fi:hover{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 13px;
    padding-bottom: 13px;
 }
 .si{
    background-color: rgb(10,102,194);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    width: 245px;
    height: 40px;
    font-size: 15px;
    margin-right: 10px;
    cursor: pointer;

 }
 .se{
    height: 40px;
    width: 80px;
    background-color: white;
    color: rgb(10,102,194);
    border: solid;
    border-color: rgb(10,102,194);
    border-radius: 20px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;


 }
 .se:hover{
    background-color: rgb(224, 244, 252);
    transition: background-color .2s;
 }
 .se:active{
    background-color: white ;
 }
 a{
    font-size: large;
    color: rgb(46, 157, 195);
    margin-left: 20px;
 }
 a:hover{
    color:purple;
 }
